/******************/
/* Comcast viewer */
/******************/
html, body {
	background: #fff;
}

iframe {
  border: 1px solid #444444;
}

pre {
  background: #f0f0f0;
  color: #000000;
  margin: auto;
  font-size: 12px;
  line-height: 14px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

body {
	border: 0;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 20px;
	padding: 0;
	margin: 0;
}

div {
	margin: 0;
	padding: 0;
	font-family: 'Proxima Nova', sans-serif;
	font-size: inherit;
}

.defText {
	font-family: 'Proxima Nova', sans-serif;
	text-align: center;
}

#divLoading {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999999;
	background: #ffffff;
}

#divStatusInfo {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 58px;
	font-size: 30px;
	font-weight: bold;
}
